.global-header {
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 6.2rem;

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .logo {
    display: inline-block;

    img {
      display: block;
      width: auto;
      height: 2rem;
    }
  }

  @include responsive(D) {
    justify-content: center;
    height: 11.8rem;

    .title {
      position: static;
      flex-basis: 10%;
      transform: none;
    }

    .box {
      flex-basis: 10%;
    }
  }
}
