$color-black: #000;
$color-dark: #333;
$color-dark-light: #9a9a9a;
$color-gray: #f4f4f4;
$color-gray-light: #eaeaea;
$color-yellow: #f9bb00;
$color-yellow-light: #fece6a;
$color-orange: #f95a00;
$color-white: #fff;

$bg-gnb-menu-list: #fff7e5;
$border-gnb-menu-list: #ffedc3;

$colors: (
  light: (
    primary-color: $color-yellow,
    text-color-dark: $color-dark,
    text-color-default: $color-dark-light,
    text-color-light: $color-black,
    background-color-dark: $color-yellow,
    background-color-default: $color-gray,
    background-color-light: $color-white,
    border-color-default: $color-gray-light,
    color-white: $color-white,
    bg-gnb-menu-list: $bg-gnb-menu-list,
    border-gnb-menu-list: $border-gnb-menu-list,
  ),
  dark: (
    primary-color: $color-yellow,
    text-color-dark: $color-dark,
    text-color-default: $color-dark-light,
    text-color-light: $color-black,
    background-color-dark: $color-yellow,
    background-color-default: $color-gray,
    background-color-light: $color-white,
    border-color-default: $color-gray-light,
    color-white: $color-white,
    bg-gnb-menu-list: $bg-gnb-menu-list,
    border-gnb-menu-list: $border-gnb-menu-list,
  ),
);
